fastapi
uvicorn
jinja2
pydantic
docx2txt

langchain
langchain-community
langchain-core
langchain-openai
openai
langchain-google-genai
langchain-tavily
pydantic
duckduckgo-search
tavily-python
python-dotenv
streamlit
ipykernel
streamlit
langchain-anthropic
langgraph-checkpoint-sqlite
yfinance
faiss-cpu
pypdf
langchain-text-splitters
langchain-chroma
sqlalchemy